PORT=8787
SANDBOX_STORAGE_ROOT=./data
SANDBOX_STORAGE_ACCESS_KEY=
SANDBOX_STORAGE_ACCESS_SALT=
SANDBOX_STORAGE_MAX_FILES=1000
SANDBOX_STORAGE_MAX_FILE_BYTES=1048576
SANDBOX_STORAGE_MAX_BODY_BYTES=10485760
